.text {
  font-size: 14px;
}

#numUsr {
  padding-bottom: 6.5px;
}

label {
  padding-bottom: 7.5px;
}

li.verde {
  color: green;
}

li.rojo {
  color: red;
}

li.azul {
  color: blue;
}

li.black {
  color: black;
}
