<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <label for="numero">Número:</label>
        <input type="number" id="numero" [formControl]="numeroControl" />
        <button (click)="buscarMultiplos()">Buscar</button>
      </div>
      <div *ngIf="numeros.length > 0">
        <h2>Números encontrados:</h2>
        <ul>
          <li *ngFor="let numero of numeros" [class]="numero.color">
            {{ numero.numero }}
            <span *ngIf="numero.multiplos.length > 0"> (multiplo de {{ numero.multiplos.join(', ') }}) </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
